
@{
    ViewData["Title"] = "About";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> KhumaloCraft Emporium</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f0f0f0;">
    <header style="background-color: #008080; color: #fff; padding: 10px 0; text-align: center;">
        <h1>About KhumaloCraft Emporium</h1>
    </header>
    <nav style="background-color: #008080; text-align: center; padding: 10px 0;">
       
    </nav>
    <section style="padding: 20px;">
        <h2>About Us</h2>
        <p>
            KhumaloCraft Emporium is a wordwide platform celebrating artisans worldwide.
            this is funded by James Khumalo, our only goal is to show handcrafted pieces and to bring recognition to artisans.
            From clocks to jewelry, each handmade piece will most definitely tell a story of creativity,
            So Welcome to KhumaloCraft Emporium.
        </p>
    </section>
    <footer style="background-color: #ffffff; color: #000000; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p>2024 KhumaloCraft Emporium</p>
    </footer>
</body>
</html>

