

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhumaloCraft Emporium</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <header style="background-color: #7FFFD4; color: #fff; padding: 10px 0; text-align: center;">
        <h1>Welcome to KhumaloCraft Emporium</h1>
    </header>
    <nav style="background-color: #7FFFD4 ; text-align: center; padding: 10px 0;">
    </nav>
    <section style="padding: 20px;">
        <h2>Homepage</h2>
        <p>Welcome to the KhumaloCraft Emporium, this online store will have all handcrafted products from artisans all around the world.
            there are lots of different itemas to purchase from clocks, necklaces aswell as braclets and many more .
        </p>
        <h3>Featured Products</h3>
        <div>
            <img src="./NewFolder/image1+(19).jpeg" width="300" height="200" alt="Product Image">
           
        </div>
        <div>
            <img src="./NewFolder/etched-art-handmade-leather-clock.jpg" width="300" height="200" alt="Product Image">
            
        </div>
        <div>
            <img src="./NewFolder/download.jpg" width="300" height="200" alt="Product Image">
        </div>
    </section>
    <footer style="background-color: #ffffff; color: #000000; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p>&copy; 2024 KhumaloCraft Emporium</p>
    </footer>
</body>
</html>

