
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhumaloCraft Emporium</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <header style="background-color: #7FFFD4; color: #fff; padding: 10px 0; text-align: center;">
        <h1>My Work Page</h1>
    </header>
    <nav style="background-color: #7FFFD4 ; text-align: center; padding: 10px 0;">
    </nav>
    <section style="padding: 20px;">
        <h3>Products</h3>
        <div>
            <img src= "~/NewFolder/71-nj4-wxDL._AC_UF894,1000_QL80_.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R469,99</p>
        </div>
        <div>
            <img src="~/NewFolder/download.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R349,99</p>
        </div>
        <div>
            <img src="~/NewFolder/etched-art-handmade-leather-clock.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R219,99</p>
        </div>
        <div>
            <img src="~/NewFolder/image1+(19).jpeg" width="300" height="200" alt="Product Image">
            <p>Price: R539,99</p>
        </div>
        <div>
            <img src="~/NewFolder/images.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R39,99</p>
        </div>
        <div>
            <img src="~/NewFolder/pics.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R199,99</p>
        </div>
        <div>
            <img src="~/NewFolder/s-l1200.jpg" width="300" height="200" alt="Product Image">
            <p>Price: R139,99</p>
        </div>
    </section>
    <footer style="background-color: #ffffff; color: #000000; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p>2024 KhumaloCraft Emporium</p>
    </footer>
</body>
</html>
